/*** CSS Reset ***/

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*** Global Styles ***/

html {
  font-family: $main-font-family;
  font-size: 18px;
}

body {
  @include flex-center;
  flex-direction: column;
  color: $black;
  line-height: 1.5em;
  background-color: $white;
  background-image: url("../img/death-star-planet-sw-bg.jpg");

  a {
    padding: 0 0.5rem;
    text-decoration: none;
    color: $black;
    font-weight: 500;

    &:hover {
      color: $blue;
    }
  }
}

/*** Header ***/

header {
  width: 100vw;
  max-width: 1920px;
  min-height: 8vh;
  @include flex-center;
  /* border-bottom: 1px solid $blue; */
  background-color: $white;
  /* color: $white; */

  nav {
    width: inherit;
    /* padding: 0 0.5rem; */
    display: flex;
    justify-content: space-between;

    .brand {
      font-size: 1.4rem;
    }

    ul {
      list-style-type: none;
      @include flex-center;

      li {
        padding: 0 0.5rem;

        /* a {
        padding: 0 0.5rem;
        text-decoration: none;
        color: $white;
        font-weight: 500;

        &:hover {
          color: $lion;
        }
      } */
      }
    }
  }
}

/*** Main ***/

main {
  width: 100vw;
  max-width: 1920px;
  min-height: 87vh;
  padding: 0.5rem;
  background-color: $white;
}

/*** Footer ***/

footer {
  width: 100vw;
  max-width: 1920px;
  min-height: 5vh;
  @include flex-center;
  border-top: 1px solid $blue;
  background-color: $black;
  color: $white;

  a {
    color: inherit;
  }
}
