/** Global Styles Content
  * --------------------- *
  * 1. CSS Reset
  * 2. Global Styles
  * 3. Back To Top Btn
  * 4. Header Section
  * 5. Footer Section
*/

/*** CSS Reset ***/

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*** Global Styles ***/

html {
  font-family: $primary-font-family;
  font-size: 16px;
  scroll-behavior: smooth;

  @media (max-width: 960px) {
    font-size: 14px;
  }

  @media (max-width: 600px) {
    font-size: 12px;
  }

  @media (max-width: 380px) {
    font-size: 10px;
  }

  @media (max-width: 300px) {
    font-size: 8px;
  }

}

body {
  @include flex-center;
  flex-direction: column;
  color: $black;
  line-height: 1.5em;
  letter-spacing: 0.25px;
  background-color: $light-grey;
  background-image: url("../img/death-star-planet-sw-bg.jpg");

  a {
    padding: 0 0.5rem;
    text-decoration: none;
    color: $black;
    font-weight: 500;

    &:hover {
      color: $blue;
    }
  }
}

h3 {
  padding: 0.5rem 0;
}

.content-container {
  /* width: 100vw;
  max-width: 1440px;
  min-height: 91vh; */
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 1rem;

  h4 {
    padding: 0.75rem 0 0 0;
  }

  aside {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  article {
    grid-column: 2 / 3;
  }

  .content {
    padding: 0 0.5rem;
    border-bottom: 1px solid $grey;
    text-align: justify;

    ul, ol {
      padding: 0 0 0.5rem 2rem;

      li {
        padding: 0;
      }
    }

    tr {
      td {
        padding: 0.25rem 0 0.25rem 0.5rem;
        border-bottom: 1px solid $white;
      }

      &:nth-child(odd) {
        background-color: $grey;
      }

      &:hover {
        background-color: $transparent-blue;
        cursor: pointer;
      }
    }

    section {
      padding: 0.5rem 0;

      p {
        padding: 0.5rem 0 0 0;
      }
    }
  }
}

table {
  width: 85%;
  border-collapse: collapse;
  border-radius: 2px;
  margin: 1rem 0;
  font-size: 0.9rem;
  /* background-color: $grey; */
  box-shadow: 3px 6px 13px 4px rgba(0, 0, 0, 0.76);
}

ul {
  padding: 0;
}

/*** Back to top ***/

.to-top-btn {
  position: fixed;
  right: 3.5rem;
  bottom: 2.5rem;
  padding: 1rem 0.1rem;
  border: 1px solid $white;
  border-radius: 50%;
  /* background: none; */

  a {
    padding: 1rem;
    color: $black;
    font-weight: 700;
  }

  &:hover {
    cursor: pointer;
    background-color: $white;
    border: 1px solid $blue;
    border-radius: 50%;

    a {
      color: $blue;
    }
  }
}

/*** Header ***/

header {
  width: 100%;
  max-width: $desktop-mid;
  min-height: 6vh;
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $grey;
  background-color: $white;
  color: $black;

  .brand {
    list-style-type: none;

    .brand-link {
      font-size: 1.4rem;
    }
  }

  nav {
    /* width: inherit;
    padding: 0 0.5rem; */
    display: flex;
    justify-content: space-between;

    ul {
      width: 100%;
      max-width: $desktop-mid;
      padding: 0 0.25rem;
      list-style-type: none;
      /* @include flex-center; */
      display: flex;

      li {
        padding: 0 0.5rem;

          a:hover {
            color: $blue;
            }

          &:hover {

            .wrapper {
              width: 5rem;
              padding: 1.2rem 0;
              position: absolute;
              top: 2.5rem;
              cursor: pointer;
              transition: 0.6s ease-in-out;

              .reminder-nav {
                width: max-content;
                padding: 0.5rem;
                /* position: absolute;
                top: 4rem;
                display: flex;
                flex-direction: column; */
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 0.25rem;
                border-radius: $border-radius;

                li {
                  padding: 0.5rem;

                  &:hover {
                    background-color: $light-grey;
                    border-radius: $border-radius;
                  }

                }
              }
            }
          }
        }
    }
  }
}

.reminder-nav {
  display: none;
  /* background-color: $white; */
  background-color: $white;
  box-shadow: $deep-purple 0px 3px 8px;

  /* &:hover {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem 0;
  } */
}

/*** Main ***/

main {
  width: 100%;
  max-width: $desktop-mid;
  min-height: 87vh;
  padding: 0.5rem;
  background-color: $light-grey;

  aside {
    grid-column: 1 / 2;

    ul {
      position: fixed;
  
      li {
        padding: 0 0 0.5rem 0.5rem;
  
        a {
          padding: 0;
        }
      }
    }
  }

  article {
    grid-column: 2 / 3;
  }

  .main-heading {
    padding: 0.5rem 0;
    text-align: center;

    h1 {
      padding: 0.5rem 0;
    }

    h4 {
      font-style: italic;
    }
  }
}

/*** Tab Content ***/

.tab-content {

  section {
    display: none;
  }

  input:checked + section {
      display: block;
    } 
  }


/*** Footer ***/

footer {
  width: 100%;
  max-width: $desktop-mid;
  min-height: 3vh;
  @include flex-center;
  border-top: 1px solid $blue;
  background-color: $black;
  color: $white;

  a {
    color: inherit;
  }
}
