/*** Variables ***/

/** colors **/
$black: #131313;
$white: #fafafa;
$light-grey: #f5f5f5;
$grey: #ececec;
$blue: #0066ff;
$lion: #ffd900;
$transparent: #0066ff3f;

/** font **/
/* $primary-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
$primary-font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', ;
$secondary-font-family: 'Times New Roman', Times, serif;



/** responsive sizes **/
$mobile-max: 640px;
$tablet-min: 641px;
$tablet-max: 1007px;
$desktop-min: 1008px;
$desktop-mid: 1440px;
$desktop-max: 1920px;

/** mixins **/

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
