/*** Variables ***/

/** colors **/
$black: #131313;
$white: #f7f7f7;
$blue: #0066ff;
$lion: #ffd900;

/** font **/
$main-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

/** responsive sizes **/
$mobile-max: 640px;
$tablet-min: 641px;
$tablet-max: 1007px;
$desktop-min: 1008px;
$desktop-mid: 1440px;
$desktop-max: 1920px;

/** mixins **/

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
