/*** Imports ***/
@import "variables";
@import "global";

/*** Home Page ***/

/*** About Me Page ***/

/*** Reminder Page ***/

.content-container {
  /* width: 100vw;
  max-width: 1440px;
  min-height: 91vh; */
  display: grid;
  grid-template-columns: 1fr 4fr;

  h3 {
    color: $blue;
  }

  ul {
    position: fixed;

    li {
      padding: 0 0 0.5rem 0.5rem;

      a {
        padding: 0;
      }
    }
  }

  .content {
    padding: 0 0.5rem;

    tr {
      td {
        padding: 0.25rem;
        border-bottom: 1px solid $blue;
      }

      &:hover {
        background-color: $transparent;
        cursor: pointer;
      }
    }
  }
}
