/*** Imports ***/
@import "variables";
@import "global";



/*** Home Page ***/

/*** About Me Page ***/

/*** Reminder Page ***/


/*** Instructions Page ***/

.instructions {
  padding: 1rem;
  /* font-family: $secondary-font-family; */

  h1, h2 {
    padding: 0.5rem 0 1rem 0;
  }

  article {

    ul {
      padding: 0 1.5rem 1rem 1.5rem;
    }

    a {
      padding: 0.25rem;
      color: $blue;
      font-style: italic;
      text-decoration: underline;

      &:hover {
        background-color: $blue;
        color: $white;
        border-radius: 3px;
        text-decoration: none;
      }
    }
  }
}

/*** School Page ***/

.tab-btns {
  padding: 0.25rem 0.5rem;
  width: 100%;
  display: flex;
  /* justify-content: center;
  gap: 0.5rem; */
}

.tab-btn {
  margin: 0;
  padding: 1rem;
border: none;
}

.tab-btn:hover {
  cursor: pointer;
}

.tab-content {
  display: none;
  flex-direction: column;
}

.tab-content h3 {
  padding: 1rem 0.5rem 0.25rem 0.5rem;
}

.tab-content p {
  padding: 0.25rem 0.5rem;
}

.active-btn {
  background-color: dodgerblue;
  color: whitesmoke;
}

.active-tab {
  display: flex;
}